
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Dosis:wght@200&family=Esteban&family=Estonia&family=Open+Sans:wght@500&family=Outfit&family=PT+Sans+Narrow&display=swap');body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.navbar{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    font-family:Outfit ;
    background:#2E4C6D !important;
    padding: 10px 5px;
}
.navbar-dark.navbar-nav.nav-link{
    color: white;
    padding-left: 50px;
}
.navbar-dark.navbar-nav.nav-link.active,
.navbar-dark.navbar-nav.nav-link:hover{
    color: cadetblue;
}
.welcome{
    position: relative;
}
.heading-content{
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
}
.heading-content h6{
    font-size: 2vw;
    font-weight: 200;
    color: white;
    font-family: monospace;
}
.heading-content h1{
    font-size: 5vw;
    font-weight: 300r;
    color: white;
    font-family: monospace;
}
.heading-content p{
    font-size: 1.5vw;
    font-weight:lighter;
    text-transform: uppercase;
    color: rgb(160, 151, 151);
    font-family: monospace;
}
/*About section*/
/* #about.btn{
    border: 2px solid rgb(1, 1, 34) ;
    width: 40%;
    padding: 15px 22px;
    background: black;
    margin-top: 10px;
}
#about.btn a{
    color: rgb(7, 6, 6);
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#about.btn :hover{
    border: 2px solid #1ebba3;
} */
/* Social Media Section */
#Contacts {
    background: #313552;
    align-items: center;
  }
  .media_link {
    padding: 1rem;
    max-width: 15rem;
    margin-left: 1rem;
  }
  .media_link.btn{
      width: fit-content;
  }